.Presentation {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 350px;
  background-color: #2D2E2F;
  color: #bfbfbf;

  .bloc {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      flex: 1 1 auto;
      .title {
        width: 260px;
        margin-top: 50px;
        margin-bottom: 10px;
      }

      .photo {
        margin-left: 10px;
        margin-bottom: 60px;
        img {
          width: 170px;
          height: 180px;
          border: 2px solid white;
        }
      }

      .summary {
        width: 300px;
        align-self: center;
        margin-bottom: 50px;
        text-align: justify;
        font-size: 17px;
        color: #b3b3b3;
      }

      .infos {
        width: 300px;
        align-self: center;
        display: inline-block;
        .info {
          margin-bottom: 10px;
          .prefix {
            display: inline-block;
            font-weight: bold;
            font-style: italic;
            color: white;
          }
        }
      }
    }

    &:nth-child(2) {
      margin-bottom: 50px;
      .title {
        width: 200px;
        text-align: right;
        align-self: flex-end;
        margin-bottom: 30px;
      }

      .contacts {
        width: 300px;
        align-self: center;
        color: white;
        .info {
          margin-bottom: 10px;
          a {
            cursor: pointer;
          }
        }
      }
    }
  }
}
